<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Madlibs</title>
    <link rel="stylesheet"  href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body ng-app="myApp">



    <div class="container full-body" ng-controller="myCtrl">

            <div class="row header-page">

                    <div class="col-md-4 happy-face-header" ><img src="img/mad-lib-happy-face-2.png"/></div>
                    <div class="col-md-6  happy-face-logo">
                        <img src="img/ng-mad-libs-logo-2.png"/>
                        <h2 style="text-align:center">Automate This!</h2>
                    </div>

            </div>

            <div class="row wordstochoose">
                    <div class="col-md-12">
                        <h1 style="text-align: left; margin-left: -10px;">Provide the following words</h1>
                    </div>
                    <input type="text" class="col-md-3 words-block" placeholder="male name" ng-model="male_name"/><div class="col-md-1"></div>
                    <input type="text" class="col-md-3 words-block" placeholder="Dirty task" ng-model="dirty_task"/><div class="col-md-1"></div>
                    <input type="text" class="col-md-3 words-block" placeholder="Obnoxious celebrity" ng-model="obnoxious_celebrity"/><div class="col-md-1"></div>
            </div>
            <div class="row wordstochoose">
                    <input type="text" class="col-md-3 words-block" placeholder="Job title" ng-model="job_title"/><div class="col-md-1"></div>
                    <input type="text" class="col-md-3 words-block" placeholder="Celebrity" ng-model="celebrity"/><div class="col-md-1"></div>
                    <input type="text" class="col-md-3 words-block" placeholder="Huge number" ng-model="huge_number"/><div class="col-md-1"></div>
            </div>
            <div class="row wordstochoose">
                    <input type="text" class="col-md-3 words-block" placeholder="Tedious task" ng-model="tedious_task"/><div class="col-md-1"></div>
                    <input type="text" class="col-md-3 words-block" placeholder="Useless skill" ng-model="useless_skill"/><div class="col-md-1"></div>
                    <input type="text" class="col-md-3 words-block" placeholder="Adjective" ng-model="adjective"/><div class="col-md-1"></div>
            </div>

            <div class="row fillthewords">
                <p>{{male_name}} was a {{job_title}} who loved technology. Although she loved parts of her job, she absolutely hated  {{tedious_task}} and {{dirty_task}}. So, {{male_name}} met with her life mentor {{celebrity}} who told her to learn how to {{useless_skill}} with Thinkful. Thinkful didn't offer a course on {{useless_skill}} so she studied programming instead.</p>

                    <p>What a great decision! With her new skills, {{male_name}} built a(n) {{adjective}} robot named {{obnoxious_celbertity}} that not only loved {{dirty task}} but did it {{huge_number}} faster. </p>
            </div>

    </div>
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>

</body>

</html>